name: General Pipeline

on:
  push:
    branches:
      - master
      - "**"

jobs:
  test:
    name: Unit Tests (Python ${{ matrix.python-version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13", "3.14", "3.15"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: .cache/pip
          key: ${{ runner.os }}-pip-${{ matrix.python-version }}-${{ hashFiles('**/requirements.txt') }}
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run Unit Tests
        run: python -m unittest

  coverage:
    name: Test Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install coverage
      - name: Run Coverage
        run: |
          coverage run -m unittest discover
          coverage xml
          coverage html
          coverage report -m --fail-under=93
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: ./coverage.xml
          fail_ci_if_error: true
          verbose: true
      - name: Upload Coverage Report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-reports-${{ matrix.python-version }}
          path: |
            coverage.xml
            htmlcov

  flake8:
    name: Run Flake8
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install flake8
      - name: Run Flake8 on code
        run: flake8 --ignore E501,E226,W503 --exclude src/flexstack/facilities/vru_awareness_service/vam_asn1.py,src/flexstack/facilities/ca_basic_service/cam_asn1.py,src/flexstack/security/security_asn1.py,,src/flexstack/facilities/decentralized_environmental_notification_service/asn1/*,src/flexstack/utils/asn1/* src/
      - name: Run Flake8 on tests
        run: flake8 --ignore E501,E226 tests/

  pylint:
    name: Run Pylint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install pylint
      - name: Run Pylint and Save Score
        run: |
          pylint_output=$(pylint src/flexstack/ --fail-under=9.49)
          echo "$pylint_output"
          
          # Use grep and awk to extract the final score (e.g., 9.50/10)
          SCORE=$(echo "$pylint_output" | grep "Your code has been rated at" | awk '{print $NF}' | cut -d'/' -f1)
          echo "PYLINT_SCORE=$SCORE" >> $GITHUB_ENV
      
      - name: Create Pylint Score Badge
        uses: anzp/github-action-badge@v1
        with:
          label: Pylint Score
          status: ${{ env.PYLINT_SCORE }}
          color: yellow # You can choose a different color
          path: badge-pylint-score.svg
          
      - name: Upload Pylint Score Badge
        uses: actions/upload-artifact@v4
        with:
          name: pylint-badge
          path: badge-pylint-score.svg
  
  pyright:
    name: Run Pyright
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Install Pyright
        run: pip install pyright
      - name: Run Pyright
        run: pyright

  build_wheel:
    name: Build Python Wheel
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install build
      - name: Build Wheel
        run: python -m build
      - name: Upload Wheel
        uses: actions/upload-artifact@v4
        with:
          name: python-wheels
          path: dist/*.whl
