name: Unit Tests (PyPy 3.11)

on:
  push:
    branches:
      - master
      - "**"

jobs:
  test:
    name: Unit Tests (PyPy 3.11)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "pypy3.11"
      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: .cache/pip
          key: ${{ runner.os }}-pip-pypy3.11-${{ hashFiles('**/requirements.txt') }}
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Run Unit Tests
        run: python -m unittest
